<div>
  <h2 id="page-heading" data-cy="EmpleadoHeading">
    <span jhiTranslate="concesionarioApp.empleado.home.title">Empleados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="concesionarioApp.empleado.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-empleado"
        [routerLink]="['/empleado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="concesionarioApp.empleado.home.createLabel"> Crear nuevo Empleado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empleados?.length === 0">
    <span jhiTranslate="concesionarioApp.empleado.home.notFound">Ningún Empleados encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="empleados && empleados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nif">
            <div class="d-flex">
              <span jhiTranslate="concesionarioApp.empleado.nif">Nif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="concesionarioApp.empleado.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apellidos">
            <div class="d-flex">
              <span jhiTranslate="concesionarioApp.empleado.apellidos">Apellidos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="puesto">
            <div class="d-flex">
              <span jhiTranslate="concesionarioApp.empleado.puesto">Puesto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salario">
            <div class="d-flex">
              <span jhiTranslate="concesionarioApp.empleado.salario">Salario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contacto">
            <div class="d-flex">
              <span jhiTranslate="concesionarioApp.empleado.contacto">Contacto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/empleado', empleado.id, 'view']">{{ empleado.id }}</a>
          </td>
          <td>{{ empleado.nif }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellidos }}</td>
          <td>{{ empleado.puesto }}</td>
          <td>{{ empleado.salario }}</td>
          <td>{{ empleado.contacto }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/empleado', empleado.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/empleado', empleado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(empleado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
